<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.boot.model.Customer">
    <id column="cust_id" jdbcType="INTEGER" property="custid" />
    <result column="surname" jdbcType="VARCHAR" property="surname" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="educa_des" jdbcType="VARCHAR" property="educades" />
    <result column="mar_des" jdbcType="VARCHAR" property="mardes" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <!--基础列字段-->
  <sql id="Base_Column_List">
    cust_id, surname, gender, educa_des, mar_des, age, address
  </sql>
  <!--查询所有客户信息-->
  <select id="getAllCustomer" resultType="com.boot.model.Customer">
        select * from customer
  </select>
  <!--根据客户id查询客户信息-->
  <select id="getCustomerById" resultMap="linkTransDetail">
        select a.cust_id,a.surname,a.gender,a.educa_des,a.mar_des,a.age,a.address,
               b.trans_id,b.account,b.card_nbr,b.tranno,b.month_nbr,b.bill,b.trans_type,
               b.txn_datetime from customer a left join transdetails b
               on a.cust_id = b.cust_id where a.cust_id = #{id}
  </select>
  <!--查询客户表客户数量-->
  <select id="countByExample" resultType="java.lang.Integer">
    select count(*) from customer
  </select>
  <!--keyProperty的值是对象的属性值不是数据库表中的字段名-->
  <!--添加客户-->
  <insert id="addCustomer" keyProperty="custid" useGeneratedKeys="true" parameterType="com.boot.model.Customer">
    insert into customer(surname,gender,educa_des,mar_des,age,address)
                values (#{surname,jdbcType=VARCHAR},#{gender,jdbcType=VARCHAR},
                #{educades,jdbcType=VARCHAR},#{mardes,jdbcType=VARCHAR},
                #{age,jdbcType=INTEGER},#{address,jdbcType=VARCHAR})
  </insert>
  <!--修改客户信息，根据客户id来选择-->
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.model.Customer">
    update customer
    <set>
      <if test="surname != null">
        surname = #{surname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="educades != null">
        educa_des = #{educades,jdbcType=VARCHAR},
      </if>
      <if test="mardes != null">
        mar_des = #{mardes,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where cust_id = #{custid,jdbcType=INTEGER}
  </update>
  <!--添加客户，允许客户的一些属性为空-->
  <insert id="insertSelective" parameterType="com.boot.model.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="custid != null">
        cust_id,
      </if>
      <if test="surname != null">
        surname,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="educades != null">
        educa_des,
      </if>
      <if test="mardes != null">
        mar_des,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="custid != null">
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="surname != null">
        #{surname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="educades != null">
        #{educaDes,jdbcType=VARCHAR},
      </if>
      <if test="mardes != null">
        #{marDes,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--根据客户id删除客户信息-->
  <delete id="deleteCustomerById" parameterType="java.lang.Integer">
    delete from customer where cust_id = #{custId,jdbcType=INTEGER}
  </delete>
  <!--配置实体类的映射关系-->
  <resultMap id="linkTransDetail" type="com.boot.model.Customer">
    <id column="cust_id" property="custid" />
    <result column="surname" property="surname" />
    <result column="gender" property="gender" />
    <result column="educa_des" property="educades" />
    <result column="mar_des" property="mardes" />
    <result column="age" property="age" />
    <result column="address" property="address" />
    <!--配置一对多的关系，一个客户对应多个订单-->
    <collection ofType="com.boot.model.TransDetail" property="linkTransDetails">
      <id column="trans_id" property="transId" />
      <result column="cust_id" property="custId" />
      <result column="account" property="account" />
      <result column="card_nbr" property="cardnbr" />
      <result column="tranno" property="tranno" />
      <result column="month_nbr" property="monthnbr" />
      <result column="bill" property="bill" />
      <result column="trans_type" property="transtype" />
      <result column="txn_datetime" property="txndatetime" />
    </collection>
  </resultMap>
</mapper>