<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.DailysummaryMapper">
  <resultMap id="BaseResultMap" type="com.boot.model.Dailysummary">
    <result column="s_index" jdbcType="VARCHAR" property="sIndex" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="trans_date" jdbcType="DATE" property="transDate" />
    <result column="surname" jdbcType="VARCHAR" property="surname" />
    <result column="tran_max_amt" jdbcType="DECIMAL" property="tranMaxAmt" />
    <result column="pay_amt" jdbcType="DECIMAL" property="payAmt" />
    <result column="tran_cnt" jdbcType="INTEGER" property="tranCnt" />
    <result column="pay_cnt" jdbcType="INTEGER" property="payCnt" />
    <result column="tran_amt" jdbcType="DECIMAL" property="tranAmt" />
  </resultMap>
  <!--基础列字段-->
  <sql id="Base_Column_List">
    s_index, cust_id, update_time, trans_date, surname, tran_max_amt, pay_amt, tran_cnt,
    pay_cnt, tran_amt
  </sql>
  <!--插入汇总表-->
  <insert id="insertDailysummary" parameterType="com.boot.model.Dailysummary">
    insert into dailysummary (s_index, cust_id, update_time,
      trans_date, surname, tran_max_amt,
      pay_amt, tran_cnt, pay_cnt,
      tran_amt)
    values (#{sIndex,jdbcType=VARCHAR}, #{custId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
      #{transDate,jdbcType=DATE}, #{surname,jdbcType=VARCHAR}, #{tranMaxAmt,jdbcType=DECIMAL},
      #{payAmt,jdbcType=DECIMAL}, #{tranCnt,jdbcType=INTEGER}, #{payCnt,jdbcType=INTEGER},
      #{tranAmt,jdbcType=DECIMAL})
  </insert>
  <!--查询全部信息-->
  <select id="selectAll" resultType="com.boot.model.Dailysummary">
    select * from dailysummary
  </select>
  <!--查询汇总表的记录数量-->
  <select id="countByExample" resultType="java.lang.Integer">
    select count(*) from dailysummary
  </select>
  <!--根据索引项查询信息-->
  <select id="selectBysIndex" resultType="com.boot.model.Dailysummary">
    select * from dailysummary where s_index = #{sIndex,jdbcType=VARCHAR}
  </select>
  <!--更新汇总表的记录,根据索引项-->
  <update id="updateBysIndex" parameterType="com.boot.model.Dailysummary">
    update dailysummary
    <set>
      <if test="sIndex != null">
        s_index = #{sIndex,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        cust_id = #{custId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transDate != null">
        trans_date = #{transDate,jdbcType=DATE},
      </if>
      <if test="surname != null">
        surname = #{surname,jdbcType=VARCHAR},
      </if>
      <if test="tranMaxAmt != null">
        tran_max_amt = #{tranMaxAmt,jdbcType=DECIMAL},
      </if>
      <if test="payAmt != null">
        pay_amt = #{payAmt,jdbcType=DECIMAL},
      </if>
      <if test="tranCnt != null">
        tran_cnt = #{tranCnt,jdbcType=INTEGER},
      </if>
      <if test="payCnt != null">
        pay_cnt = #{payCnt,jdbcType=INTEGER},
      </if>
      <if test="tranAmt != null">
        tran_amt = #{tranAmt,jdbcType=DECIMAL},
      </if>
    </set>
    where s_index = #{sIndex,jdbcType=VARCHAR}
  </update>
  <!--根据索引项删除-->
  <delete id="deleteBysIndex" parameterType="String">
    delete from dailysummary where s_index = #{sIndex}
  </delete>
  <!--根据客户id来删除汇总表信息-->
  <delete id="deleteByCustId" parameterType="java.lang.Integer">
    delete from data where cust_id = #{custId,jdbcType=INTEGER}
  </delete>
  <!--根据客户id来查询他所有的日汇总交易信息-->
  <select id="selectDailySummaryById" resultType="com.boot.model.Dailysummary" parameterType="java.lang.Integer">
    select * from dailysummary where cust_id = #{id}
  </select>
</mapper>