<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjx.mapper.RoleMapper">
    <select id="selectRoleAndUser" resultMap="roleMapper">
        select a.role_id,a.role_name,b.user_id,b.age,b.user_name
        from sys_role a,sys_user b,sys_user_role sc
        where role_id=#{id}
        and a.role_id = sc.sys_role_id
        and b.user_id = sys_user_id
    </select>
    <!--配置一对多的关系，一个角色可以有多个用户-->
    <resultMap id="roleMapper" type="com.zjx.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <collection property="users" ofType="com.zjx.entity.User">
            <id column="user_id" property="userId"/>
            <result column="user_name" property="userName"/>
            <result column="age" property="age"/>
        </collection>
    </resultMap>

</mapper>